* {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #0369a1;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Hover rengi */
}
